version: "3.9"

services:
  backend:
    build: .
    container_name: resumeranker-backend
    restart: always

    env_file:
      - .env
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    ports:
      - 80:80

