version: '3.9'

services:
  mongodb:
    image: mongo
    container_name: mongodb-dev
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    restart: always
volumes:
  mongo_data: